extends layout

block content
  main
    aside
      form
        div
          input.search-box(type='text', name='search'
          placeholder='Search..')
          button.submit(type='submit') Search
        ul.search-type
          li
            label
              input(type='input', value='title', name='type')
              i Book Titles
          li
            label
              input(type='input', value='author', name='type')
              i Authors
          li
            label
              input(type='input', value='genre', name='type')
              i Genres
  //- h1= title
  //- p Welcome to #{Books N Giggles}
